<div class="content raised card content-box <%= cycle('green-bg', 'blue-bg') %>">
  <span class="ui label chat"><%= message.user.username %></span> <span class=" lower-font"><%= message.body %></span>
</div><br />