// Place all the styles related to the Chatroom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.counter {
  margin-left: 5px;
  color: #fff;
}

.content-box{
  border-radius: 5px !important;
}


.app-title {
  font-size: 2.0em;
  font-family: 'Sriracha', cursive;
}


// Message Labels

 .green-bg  {
  background: #134E5E !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E)  !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  color: #fff !important;
    .label, .chat {
      background: #134E5E !important;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #71B280, #134E5E)  !important;  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #71B280, #134E5E) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: #fff !important;
      border: 2px solid #fff !important;
    }
 }
  
  


.blue-bg {
  background: #0575E6 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  color: #fff !important;
  .label, .chat {
    background: #0575E6 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff !important;
    border: 2px solid #fff !important;
  }
}

.label, .message-text {
  padding-left: 5px !important;
  
}