@import "semantic-ui";

.ui.placeholder.segment .column .button {
  width: 40%;
}


//Navbar 

 

.ui.label {
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

#scroller {
  overflow: auto;
   height: 25em;
}

.input {
  button {
    display: none;
  }
}